# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\web_projects\stepic_yandexacadyme\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
